body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container{  
    background: black;
    height: 80%;
    width: 20%;
    min-height: 467px;
    min-width: 280px;
    border-radius: 24px;
    overflow: hidden;
}

.display-container{
    height: 40%;
}

.theme-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.color{
    color: antiquewhite;
    font-size: 24px;
    padding: 6px;
}

.theme-button{
    padding: 2px;
    background-color: #292D36;
    border-radius: 10px;
    margin-top: 12px;   
}

.non-selected{
    opacity: 0.3;
}

.display-output-container{
    display:flex;
    color:antiquewhite;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    height: 70%;
    padding-right: 14px;
}

.secondary-display{
    font-size: 30px;
    
}

.primary-display{
    font-size:48px;    
}



.keypad-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #292D36;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    height: 60%;
}

.key{
    width: 60%;
    height: 65%;
    min-width: 40px;
    min-height: 30px;
    margin: 10px 14px;
    background-color: black;
    color:antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    cursor: pointer;
    font-size: 24px;
    border-radius: 8px;
}

.operator{
    color:#754247;
}

.operation{
    color:#26FFD8;
}