body{
    background: #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container{  
    
    height: 80%;
    width: 20%;
    min-height: 467px;
    min-width: 280px;
    border-radius: 24px;
    overflow: hidden;
}

.main-container.dark{
    background: #22252D;
}

.main-container.light{
    background: #FFFFFF;
}

.display-container{
    height: 40%;
}

.theme-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.day{
    color: black;
    font-size: 24px;
    padding: 6px;
}

.night {
    color: antiquewhite;
    font-size: 24px;
    padding: 6px;
}

.theme-button{
    padding: 2px;
    cursor:pointer;
    border-radius: 10px;
    margin-top: 12px;   
}
.theme-button.dark{
    background-color: #292D36;
}

.theme-button.light{
    background-color: #F9F9F9;
}


.non-selected{
    opacity: 0.3;
}

.display-output-container{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    height: 70%;
    padding-right: 14px;
}

.display-output-container.dark{
    color:antiquewhite;
}
.display-output-container.light{
    color:black;
}
.secondary-display{
    font-size: 30px;
}
.main-display{
    font-size:48px;    
}

.keypad-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    height: 60%;
}

.keypad-container.dark{
    background-color: #292D36;
}

.keypad-container.light{
    background-color: #F9F9F9;
}

.key{
    width: 60%;
    height: 65%;
    min-width: 40px;
    min-height: 30px;
    margin: 10px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    cursor: pointer;
    font-size: 24px;
    border-radius: 8px;
}
.key.dark{
    background-color: #22252D;
    color:antiquewhite;
}
.key.light{
    background-color: #F7F7F7;
    color:#292D36;
}

.dark.operator{
    color:#754247;
    font-weight: 800;
}
.light.operator{
    color:#754247;
    font-weight: 800;
}

.dark.action{
    color:#26FFD8;
}
.light.action{
    color:#26FFD8;
}